Screen {
    layers: below above;
}

BaseLayer {
    height:100%;
    width: 100%;
    layout: grid;
    grid-size: 2 1;
    grid-rows: 1fr;
    grid-columns: 1fr 3fr;
    grid-gutter: 1;
    layer: below;
}

#dir_tree {
    height:100%;
    width: 100%;
}

#editor_grid {
    height:100%;
    width: 100%;
}

#editor_tabs {
    height:100%;
    width: 100%;
}

#editor {
    height: 100%;
    width: 100%;
    border: solid green;
}

SecondLayer {
    layer: above;
    width: 60%;
    height: 60%;
    offset: 40% 40%;
}

.hide {
    display: none;
}
